#board {
    background-color: #daa520; /* 黄土色の背景 */
    display: grid;
    grid-template-columns: repeat(19, 1fr); /* 19列のグリッド */
    gap: 0; /* セル間の隙間をなくす */
}

.cell {
    display: flex;
    justify-content: center; /* 中央に配置 */
    align-items: center;
    border-right: 1px solid #000; /* 右側の線 */
    border-bottom: 1px solid #000; /* 下側の線 */
}

/* 一番上の行のセルの上辺に線を追加 */
.cell:nth-child(-n+19) {
    border-top: 1px solid #000;
}

/* 一番左の列のセルの左辺に線を追加 */
.cell:nth-child(19n+1) {
    border-left: 1px solid #000;
}

.stone {
    width: 80%; /* 石のサイズ、必要に応じて調整 */
    height: 80%;
    border-radius: 50%; /* 円形にする */
    background-color: black; /* 黒石のデフォルト色 */
}

.stone.white {
    background-color: white; /* 白石の色 */
}
/* スタイルシートの追加部分 */
@media (max-width: 600px) {
    #board {
        width: 100%;
        grid-template-columns: repeat(19, 1fr);
    }

    .cell {
        width: 5vw; /* viewport widthを基準にサイズを調整 */
        height: 5vw;
    }
}
