#board {
    background-color: #daa520;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    height: 100vw;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.cell {
    flex: 0 0 calc(100% / 19);
    height: calc(100vw / 19);
    max-height: calc(100% / 19);
    position: relative;
}

.stone {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% / 19 - 10px);
    height: calc(100% / 19 - 10px);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #000; /* Default stone color: black */
    z-index: 2;
}

.stone.white {
    background-color: #fff;
}
